<%- include('partials/_header'); -%>

<!-- Form -->

<div class="container">
    <div class="row mt-3">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h3>Nuevo producto</h3>
                    <form action="/agregar" method="POST">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Nombre</label>
                            <input type="text" name="producto" placeholder="Ingrese el nombre" class="form-control" Required>
                        </div>
                        <div class="form-group mt-3">
                            <label for="formGroupExampleInput">Precio</label>
                            <input type="number" name="precio" placeholder="0.01" class="form-control" step="0.01" Required>
                        </div>
                        <div class="form-group mt-3">
                            <label for="formGroupExampleInput">Descripci贸n</label>
                            <textarea type="text" name="descripcion" placeholder="Ingrese una descripci贸n"
                                class="form-control" cols="80" Required></textarea>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary col-12">Agregar</button>
                    </form>
                </div>
            </div>
        </div>

<!-- Table -->

        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead class="bg-light">
                    <tr>
                        <th>#</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Descripci贸n</th>
                        <th>Acci贸n</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < products.length; i++) { %>
                    <tr>
                        <td><%= (i + 1) %></td>
                        <td><%= products[i].producto%></td>
                        <td><%= products[i].precio%></td>
                        <td><%= products[i].descripcion%></td>
                        <td>
                            <a href="/edit/<%= products[i]._id%>" class="btn btn-info">Editar</a>
                            <a href="/delete/<%= products[i]._id%>" class="btn btn-danger">Borrar</a>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <%- include('partials/_footer'); -%>