<%- include('partials/_header'); -%>

<div class="container">
    <div class="row mt-3">
        
        <!-- Profile -->

        <h1>Perfil de <%= user.nombre %> <%= user.apellido %></h1>
        <p> Numero de Teléfono: <%= user.telefono %></p>
        <p>Correo Electrónico: <%= user.email %></p>

        <!-- Table -->

        <table class="table table-bordered table-hover">
            <thead class="table-primary">
                <tr>
                    <th>#</th>
                    <th>Producto</th>
                    <th>Código</th>
                    <th>Precio</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < products.length; i++) { %>
                <tr>
                    <td><%= (i + 1) %></td>
                    <td><%= products[i].producto%></td>
                    <td><%= products[i].codigo%></td>
                    <td><%= products[i].precio%></td>
                    <td><%= products[i].fecha%></td>
                    <td><%= products[i].descripcion%></td>
                    <td>
                        <a href="/edit/<%= products[i]._id%>" class="btn btn-info">Editar</a>
                        <a href="/delete/<%= products[i]._id%>" class="btn btn-danger">Borrar</a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%- include('partials/_footer'); -%>